/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.principal{
   display: flex;
     
}
body{
background-image: url(fondo.jpg);
    

}
.titulo{
font-size: 60px;
color: black;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.imagen1{
height: 500px;
width: 510px;
background-image: url("3463594.png");
background-repeat: no-repeat;
float: left;
}
.img2{
    height: 500px;
    width: 500px;
    background-image: url("4796838.png");
    background-repeat: no-repeat;
    float: left;

}
.indp1{
    height: 1500px;
    width:  1900px;
    background-image: url("independecia.png");
    background-repeat: no-repeat;
    float: left;

}
.pauli{
    height: 250px;
    width: 700px;
    background-image: url("images.png");
    background-repeat: no-repeat;
    float: center;

}
.conf{
    height: 250px;
    width: 700px;
    background-image: url("configuracionelectronica1-cke.jpg");
    background-repeat: no-repeat;
    float: right;
}
.interno{
    height: 1200px;
    width: 1200px;
    background-image: url("Sis.\ int.jpg");
    background-repeat: no-repeat;
    float: left;

}
.externo{
    height: 300px;
    width: 1200px;
    background-image: url("Aparato\ genital\ externo.jpg");
    background-repeat: no-repeat;
    float: left;
}

   

