/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(254, 254, 254);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("pngtree-banner-technology-gradient-geometric-stereo-background-image_277350.jpg");
    

}
.titulo{
    font-size: 50px;
    text-align: center;
    color: black;
}